/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #546E7A;
  color: #000000;
}

h1 {
  color: #FFFFFF;
  background-color: #90A4AE;
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

h2 {
  color: #FFFFFF;
  background-color:#546E7A;
  font-style: oblique;
  text-align: left;
}

a {
  color: #000000;
}

a:hover {
  color: #000000;
  font-size: 20px;
}

ul {
  background-color: #546E7A;
}
